*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.not-found{
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}